<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.yoctopuce.doc_examples"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="8"
    android:versionName="1.0.8">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name=".Doc_Examples"
            android:label="@string/title_activity_doc_examples">
            <!--android:clearTaskOnLaunch="true"-->
            <!--android:launchMode="singleInstance"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".USBDevicePluggedActivity"
            android:label="@string/title_activity_doc_examples">
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </activity>
        <activity
            android:name=".HubListActivity"
            android:label="Hub list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <activity
            android:name=".ProgEventBasedActivity"
            android:label="Prog-EventBased">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <activity
            android:name=".ProgModbus"
            android:label="Prog-MODBUS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated start -->
        <!-- generated GettingStarted_Yocto_MaxiThermistor start -->
        <activity
            android:name=".GettingStarted_Yocto_MaxiThermistor"
            android:label="Yocto-MaxiThermistor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MaxiThermistor stop -->   
        <!-- generated GettingStarted_Yocto_4_20mA_Tx start -->
        <activity
            android:name=".GettingStarted_Yocto_4_20mA_Tx"
            android:label="Yocto-4-20mA-Tx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_4_20mA_Tx stop -->   
        <!-- generated GettingStarted_Yocto_Light_V3 start -->
        <activity
            android:name=".GettingStarted_Yocto_Light_V3"
            android:label="Yocto-Light-V3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Light_V3 stop -->   
        <!-- generated GettingStarted_Yocto_Thermistor_C start -->
        <activity
            android:name=".GettingStarted_Yocto_Thermistor_C"
            android:label="Yocto-Thermistor-C">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Thermistor_C stop -->   
        <!-- generated GettingStarted_Yocto_RS485 start -->
        <activity
            android:name=".GettingStarted_Yocto_RS485"
            android:label="Yocto-RS485">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_RS485 stop -->   
        <!-- generated GettingStarted_Yocto_Serial start -->
        <activity
            android:name=".GettingStarted_Yocto_Serial"
            android:label="Yocto-Serial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Serial stop -->   
        <!-- generated GettingStarted_Yocto_GPS start -->
        <activity
            android:name=".GettingStarted_Yocto_GPS"
            android:label="Yocto-GPS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_GPS stop -->   
        <!-- generated GettingStarted_Yocto_RS232 start -->
        <activity
            android:name=".GettingStarted_Yocto_RS232"
            android:label="Yocto-RS232">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_RS232 stop -->   
        <!-- generated GettingStarted_Yocto_Buzzer start -->
        <activity
            android:name=".GettingStarted_Yocto_Buzzer"
            android:label="Yocto-Buzzer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Buzzer stop -->   
        <!-- generated GettingStarted_Yocto_MaxiPowerRelay start -->
        <activity
            android:name=".GettingStarted_Yocto_MaxiPowerRelay"
            android:label="Yocto-MaxiPowerRelay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MaxiPowerRelay stop -->
        <!-- generated GettingStarted_Yocto_WatchdogDC start -->
        <activity
            android:name=".GettingStarted_Yocto_WatchdogDC"
            android:label="Yocto-WatchdogDC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_WatchdogDC stop -->
        <!-- generated GettingStarted_Yocto_PWM_Rx start -->
        <activity
            android:name=".GettingStarted_Yocto_PWM_Rx"
            android:label="Yocto-PWM-Rx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_PWM_Rx stop -->
        <!-- generated GettingStarted_Yocto_milliVolt_Rx_BNC start -->
        <activity
            android:name=".GettingStarted_Yocto_milliVolt_Rx_BNC"
            android:label="Yocto-milliVolt-Rx-BNC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_milliVolt_Rx_BNC stop -->
        <!-- generated GettingStarted_Yocto_milliVolt_Rx start -->
        <activity
            android:name=".GettingStarted_Yocto_milliVolt_Rx"
            android:label="Yocto-milliVolt-Rx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_milliVolt_Rx stop -->
        <!-- generated GettingStarted_Yocto_Motor_DC start -->
        <activity
            android:name=".GettingStarted_Yocto_Motor_DC"
            android:label="Yocto-Motor-DC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Motor_DC stop -->
        <!-- generated GettingStarted_Yocto_Altimeter start -->
        <activity
            android:name=".GettingStarted_Yocto_Altimeter"
            android:label="Yocto-Altimeter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Altimeter stop -->
        <!-- generated GettingStarted_Yocto_PWM_Tx start -->
        <activity
            android:name=".GettingStarted_Yocto_PWM_Tx"
            android:label="Yocto-PWM-Tx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_PWM_Tx stop -->
        <!-- generated GettingStarted_Yocto_3D start -->
        <activity
            android:name=".GettingStarted_Yocto_3D"
            android:label="Yocto-3D">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_3D stop -->
        <!-- generated GettingStarted_Yocto_0_10V_Rx start -->
        <activity
            android:name=".GettingStarted_Yocto_0_10V_Rx"
            android:label="Yocto-0-10V-Rx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_0_10V_Rx stop -->
        <!-- generated GettingStarted_Yocto_4_20mA_Rx start -->
        <activity
            android:name=".GettingStarted_Yocto_4_20mA_Rx"
            android:label="Yocto-4-20mA-Rx">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_4_20mA_Rx stop -->
        <!-- generated GettingStarted_Yocto_PT100 start -->
        <activity
            android:name=".GettingStarted_Yocto_PT100"
            android:label="Yocto-PT100">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_PT100 stop -->
        <!-- generated GettingStarted_Yocto_Maxi_IO start -->
        <activity
            android:name=".GettingStarted_Yocto_Maxi_IO"
            android:label="Yocto-Maxi-IO">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Maxi_IO stop -->
        <!-- generated GettingStarted_Yocto_LatchedRelay start -->
        <activity
            android:name=".GettingStarted_Yocto_LatchedRelay"
            android:label="Yocto-LatchedRelay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_LatchedRelay stop -->
        <!-- generated GettingStarted_Yocto_MaxiCoupler start -->
        <activity
            android:name=".GettingStarted_Yocto_MaxiCoupler"
            android:label="Yocto-MaxiCoupler">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MaxiCoupler stop -->
        <!-- generated GettingStarted_Yocto_MaxiDisplay start -->
        <activity
            android:name=".GettingStarted_Yocto_MaxiDisplay"
            android:label="Yocto-MaxiDisplay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MaxiDisplay stop -->
        <!-- generated GettingStarted_Yocto_MiniDisplay start -->
        <activity
            android:name=".GettingStarted_Yocto_MiniDisplay"
            android:label="Yocto-MiniDisplay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MiniDisplay stop -->
        <!-- generated GettingStarted_Yocto_Display start -->
        <activity
            android:name=".GettingStarted_Yocto_Display"
            android:label="Yocto-Display">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Display stop -->
        <!-- generated GettingStarted_Yocto_Watt start -->
        <activity
            android:name=".GettingStarted_Yocto_Watt"
            android:label="Yocto-Watt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Watt stop -->
        <!-- generated GettingStarted_Yocto_Amp start -->
        <activity
            android:name=".GettingStarted_Yocto_Amp"
            android:label="Yocto-Amp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Amp stop -->
        <!-- generated GettingStarted_Yocto_CO2 start -->
        <activity
            android:name=".GettingStarted_Yocto_CO2"
            android:label="Yocto-CO2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_CO2 stop -->
        <!-- generated GettingStarted_Yocto_Knob start -->
        <activity
            android:name=".GettingStarted_Yocto_Knob"
            android:label="Yocto-Knob">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Knob stop -->
        <!-- generated GettingStarted_Yocto_Color start -->
        <activity
            android:name=".GettingStarted_Yocto_Color"
            android:label="Yocto-Color">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Color stop -->
        <!-- generated GettingStarted_Yocto_PowerColor start -->
        <activity
            android:name=".GettingStarted_Yocto_PowerColor"
            android:label="Yocto-PowerColor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_PowerColor stop -->
        <!-- generated GettingStarted_Yocto_Light start -->
        <activity
            android:name=".GettingStarted_Yocto_Light"
            android:label="Yocto-Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Light stop -->
        <!-- generated GettingStarted_Yocto_Meteo start -->
        <activity
            android:name=".GettingStarted_Yocto_Meteo"
            android:label="Yocto-Meteo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Meteo stop -->
        <!-- generated GettingStarted_Yocto_Relay start -->
        <activity
            android:name=".GettingStarted_Yocto_Relay"
            android:label="Yocto-Relay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Relay stop -->
        <!-- generated GettingStarted_Yocto_MaxiRelay start -->
        <activity
            android:name=".GettingStarted_Yocto_MaxiRelay"
            android:label="Yocto-MaxiRelay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_MaxiRelay stop -->
        <!-- generated GettingStarted_Yocto_PowerRelay start -->
        <activity
            android:name=".GettingStarted_Yocto_PowerRelay"
            android:label="Yocto-PowerRelay">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_PowerRelay stop -->
        <!-- generated GettingStarted_Yocto_Servo start -->
        <activity
            android:name=".GettingStarted_Yocto_Servo"
            android:label="Yocto-Servo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Servo stop -->
        <!-- generated GettingStarted_Yocto_Temperature start -->
        <activity
            android:name=".GettingStarted_Yocto_Temperature"
            android:label="Yocto-Temperature">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Temperature stop -->
        <!-- generated GettingStarted_Yocto_Thermocouple start -->
        <activity
            android:name=".GettingStarted_Yocto_Thermocouple"
            android:label="Yocto-Thermocouple">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Thermocouple stop -->
        <!-- generated GettingStarted_Yocto_VOC start -->
        <activity
            android:name=".GettingStarted_Yocto_VOC"
            android:label="Yocto-VOC">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_VOC stop -->
        <!-- generated GettingStarted_Yocto_Volt start -->
        <activity
            android:name=".GettingStarted_Yocto_Volt"
            android:label="Yocto-Volt">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Volt stop -->
        <!-- generated GettingStarted_Yocto_Demo start -->
        <activity
            android:name=".GettingStarted_Yocto_Demo"
            android:label="Yocto-Demo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated GettingStarted_Yocto_Demo stop -->
        <!-- generated SaveSettings start -->
        <activity
            android:name=".SaveSettings"
            android:label="SaveSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated SaveSettings stop -->
        <!-- generated ModuleControl start -->
        <activity
            android:name=".ModuleControl"
            android:label="ModuleControl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated ModuleControl stop -->
        <!-- generated Inventory start -->
        <activity
            android:name=".Inventory"
            android:label="Inventory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoctopuce.doc_examples.Doc_Examples"/>
        </activity>
        <!-- generated Inventory stop -->
        <!-- generated stop -->
    </application>

</manifest>